{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-transform-async-to-generator"],
  "env": {
    "production": {
      "plugins": ["react-remove-properties"]
    }
  }
}
