<!DOCTYPE html>
<html>
  <head>
    <title>Qoodish</title>
    <link rel="manifest" href="/manifest.json" />
    <link rel="canonical" href="<%= metadata.og.url %>" />
    <link rel="shortcut icon" type="image/x-icon" href="<%= metadata.icon %>" />
    <link rel="icon" type="image/x-icon" href="<%= metadata.icon %>" />
    <link rel="apple-touch-icon" type="image/png" href="<%= metadata.icon %>" />

    <meta
      name="keywords"
      content="Qoodish, qoodish, 食べ物, グルメ, 食事, マップ, 地図, 友だち, グループ, 旅行, 観光, 観光スポット, maps, travel, food, group, trip"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="fb:app_id" content="<%= fbAppId %>" />

    <meta name="theme-color" content="#ffc107" />
    <meta name="title" content="Qoodish" />
    <meta name="description" content="<%= metadata.og.description %>" />
    <meta property="og:title" content="<%= metadata.og.title %>" />
    <meta property="og:description" content="<%= metadata.og.description %>" />
    <meta property="og:type" content="<%= metadata.og.type %>" />
    <meta property="og:url" content="<%= metadata.og.url %>" />
    <meta property="og:image" content="<%= metadata.og.image %>" />
    <meta property="og:site_name" content="Qoodish - マップベースド SNS" />
    <meta property="og:locale" content="ja_JP" />
    <meta name="twitter:card" content="<%= metadata.twitter.card %>" />
    <meta name="twitter:image" content="<%= metadata.twitter.image %>" />
    <meta name="twitter:title" content="<%= metadata.twitter.title %>" />
    <meta
      name="twitter:description"
      content="<%= metadata.twitter.description %>"
    />
    <meta name="twitter:domain" content="qoodish.com" />
  </head>
  <body></body>
</html>
