<!DOCTYPE html>
<html style="overflow-x: hidden;">
  <head>
    <title data-react-helmet="true">Qoodish</title>
    <link rel="manifest" href="/manifest.json" />
    <link
      rel="canonical"
      href="<%= htmlWebpackPlugin.options.endpoint %>"
      data-react-helmet="true"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="<%= htmlWebpackPlugin.options.icon512 %>"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="<%= htmlWebpackPlugin.options.icon512 %>"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      href="<%= htmlWebpackPlugin.options.icon512 %>"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lobster"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <meta
      name="keywords"
      content="Qoodish, qoodish, 食べ物, グルメ, 食事, マップ, 地図, 友だち, グループ, 旅行, 観光, maps, travel, food, group, trip"
      data-react-helmet="true"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      property="fb:app_id"
      content="<%= htmlWebpackPlugin.options.fbAppId %>"
    />

    <meta name="theme-color" content="#ffc107" data-react-helmet="true" />
    <meta name="title" content="Qoodish" data-react-helmet="true" />
    <meta
      name="description"
      content="Qoodish では友だちとマップを作成してお気に入りのお店や観光スポットなどの情報をシェアすることができます。"
      data-react-helmet="true"
    />
    <meta property="og:title" content="Qoodish" data-react-helmet="true" />
    <meta
      property="og:description"
      content="Qoodish では友だちとマップを作成してお気に入りのお店や観光スポットなどの情報をシェアすることができます。"
      data-react-helmet="true"
    />
    <meta property="og:type" content="website" data-react-helmet="true" />
    <meta
      property="og:url"
      content="<%= htmlWebpackPlugin.options.endpoint %>"
      data-react-helmet="true"
    />
    <meta
      property="og:image"
      content="<%= htmlWebpackPlugin.options.ogpImage %>"
      data-react-helmet="true"
    />
    <meta
      property="og:site_name"
      content="Qoodish - マップベースド SNS"
      data-react-helmet="true"
    />
    <meta property="og:locale" content="ja_JP" data-react-helmet="true" />
    <meta
      name="twitter:card"
      content="summary_large_image"
      data-react-helmet="true"
    />
    <meta
      name="twitter:image"
      content="<%= htmlWebpackPlugin.options.ogpImage %>"
      data-react-helmet="true"
    />
    <meta name="twitter:title" content="Qoodish" data-react-helmet="true" />
    <meta
      name="twitter:domain"
      content="qoodish.com"
      data-react-helmet="true"
    />
    <meta
      name="twitter:description"
      content="Qoodish では友だちとマップを作成してお気に入りのお店や観光スポットなどの情報をシェアすることができます。"
      data-react-helmet="true"
    />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.gaTrackingId %>"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
    </script>
  </head>

  <body style="background-color: #f1f1f1; margin: 0;">
    <div id="render-target"></div>
  </body>
</html>
