<!doctype html>
<html>
  <head>
    <title>Qoodish</title>
    <%- include('./_metaTags', { metadata: metadata }) %>
    <script type='text/javascript'>
      window.currentLocale = '<%= currentLocale %>';
    </script>
    <link rel='manifest' href='/manifest.json'>
    <script type='text/javascript' src='<%= googleMapUrl %>'></script>
    <script type='text/javascript' src='<%= bundle %>'></script>
    <link rel='shortcut icon' type='image/x-icon' href='<%= process.env.SUBSTITUTE_URL %>'>
    <link rel='icon' type='image/x-icon' href='<%= process.env.SUBSTITUTE_URL %>'>
    <link rel='apple-touch-icon' type='image/png' href='<%= process.env.SUBSTITUTE_URL %>'>
    <link type='text/css' rel='stylesheet' href='<%= process.env.FIREBASE_CDN_URL %>' />
  </head>
  <body style='background-color: #f1f1f1;'>
    <div id='render-target'></div>
  </body>
</html>
