<!DOCTYPE html>
<html>
  <head>
    <title>Qoodish</title>
    <link rel='manifest' href='/manifest.json'>
    <script type='text/javascript' src='<%= htmlWebpackPlugin.options.googleMapUrl %>'></script>
    <link rel='shortcut icon' type='image/x-icon' href='<%= htmlWebpackPlugin.options.iconUrl %>'>
    <link rel='icon' type='image/x-icon' href='<%= htmlWebpackPlugin.options.iconUrl %>'>
    <link rel='apple-touch-icon' type='image/png' href='<%= htmlWebpackPlugin.options.iconUrl %>'>

    <meta name='description' content='Qoodish では友だちとマップを作成してお気に入りのお店や観光スポットなどの情報をシェアすることができます。'>
    <meta name='keywords' content='qoodish, 食べ物, グルメ, 食事, マップ, 地図, 友だち, グループ, 旅行, 観光, maps, travel, food, group, trip'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta property='og:title' content='Qoodish (β)'>
    <meta property='og:description' content='Qoodish では友だちとマップを作成してお気に入りのお店や観光スポットなどの情報をシェアすることができます。'>
    <meta property='og:type' content='website'>
    <meta property='og:url' content='https:qoodish.com'>
    <meta property='og:image' content='<%= htmlWebpackPlugin.options.iconUrl %>'>
    <meta property='og:site_name' content='Qoodish'>
    <meta property='og:locale' content='ja_JP'>
    <meta name='twitter:card' content='summary'>
    <meta name='twitter:image' content='<%= htmlWebpackPlugin.options.iconUrl %>'>
    <meta name='twitter:description' content='Qoodish では友だちとマップを作成してお気に入りのお店や観光スポットなどの情報をシェアすることができます。'>
    <meta property='fb:app_id' content='<%= htmlWebpackPlugin.options.fbAppId %>' />

    <script type='text/javascript'>
      window.currentLocale = (window.navigator.languages && window.navigator.languages[0]) ||
      window.navigator.language ||
      window.navigator.userLanguage ||
      window.navigator.browserLanguage;
    </script>
  </head>
  <body style='background-color: #f1f1f1; margin: 0;'>
    <div id='render-target'></div>
  </body>
</html>
